
    .input {
        background-color: #080808;
        margin-top: 20px;
        width: 190px;
        height: 30px;
        padding: 2px;
        /* text-align: center; */
        border: 2px solid white;
        border-radius: 5px;
        /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
        margin-right: 22px;
        margin-left: 60px;
      }
      
      .input:focus {
        color: rgb(215, 228, 38);
        background-color: #000000;
        outline-color: rgb(185, 224, 41);
        box-shadow: -3px -3px 15px rgb(204, 235, 27);
        transition: .1s;
        transition-property: box-shadow;
      }
      /* .button {
        width: 80px;
        position: relative;
        height: 35px;
        border: 3px ridge #24b611;
        outline: none;
        background-color: transparent;
        color: white;
        transition: 1s;
        border-radius: 0.3em;
        font-size: 16px;
        font-weight: bold;
      }
      
      .button::after {
        content: "";
        position: absolute;
        top: -10px;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
        transform-origin: center;
      }
      
      .button::before {
        content: "";
        transform-origin: center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
      }
      
      .button:hover::before, button:hover::after {
        transform: scale(0)
      }
      
      .button:hover {
        box-shadow: inset 0px 0px 25px #3aac0d;
      } */


      .button{
        width: 80px;
        position:relative;
        height: 35px;
        border: 3px ridge #f8f416;
        outline:none;
        background-color: black;
        color: white;
        transition: 1s;
        border-radius: 0.3em;
        font-size: 16px;
        font-weight:bold;
        
      }
      
      .button::after {
        content: "";
        position:static;
        top: 8%;
        left: 3%;
        width: 90%;
        height: 40%;
        background-color:transparent;
        transition: 0.5s;
        transform-origin: center;
      }
      
      /* .button::before {
        content: "";
        transform-origin:center;
        position: absolute;
        top: 80%;
        left: 3%;
        width: 95%;
        height: 40%;
        background-color: #212121;
        transition: 0.5s;
      }
       */
      /* .button:hover::before, button:hover::after {
        transform: scale(0)
      } */
      
      .button:hover {
        box-shadow: inset 0px 0px 25px #eff315;
      }
    